@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playball&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
  }

  html {
    background-image: url(./images/bg1.jpeg);
    /* background-repeat: no-repeat; */
    background-size: fill;
    color: #f15025;
  }

  .names {
    font-family: "Great Vibes";
  }

  .parents {
    /* font-size: 0.7rem; */
    font-family: "Playball";
  }

  .celebrate {
    /* font-family: "Dancing Script"; */
    font-family: "Allura";
  }
}
